packages/
MATO.NET/bin/FastMember.Signed.dll
MATO.NET/bin/ExcelNumberFormat.xml
MATO.NET/bin/ExcelNumberFormat.dll
MATO.NET/bin/DocumentFormat.OpenXml.xml
MATO.NET/bin/DocumentFormat.OpenXml.dll
MATO.NET/bin/ClosedXML.xml
MATO.NET/bin/ClosedXML.dll
