<div class="banner">
    <a href="/">
        <img class="bannerLogo m10" src="~/Content/Images/MacmillanEducationLogo.jpg" alt="Macmillan Education Logo" width="220" />
    </a>
</div>
<div class="clear"></div>